*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: none;
    overflow: hidden;
}
.input_video{
      display: none;
}
.container{
    position: relative;
    display: block !important;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
canvas{
    position: absolute;
}
#tutorial{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 97px;
}
#toArticle{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;;
    border: 2px solid black;
    border-radius: 97px;
}
#spinner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#redButton{
    color: white;
    background-color: red;
    padding:20px;
    border-radius:50px;
    border:none;
    position: relative;
    margin: 5px
}

#orangeButton{
    color: white;
    background-color: orange;
    padding:20px;
    border-radius:50px;
    border:none;
    position: relative;
    margin: 5px
}

#yellowButton{
    color: rgb(0, 0, 0);
    background-color: yellow;
    padding:20px;
    border-radius:50px;
    border:none;
    position: relative;
    margin: 5px
}

#greenButton{
    color: white;
    background-color: green;
    padding:20px;
    border-radius:50px;
    border:none;
    position: relative;
    margin: 5px
}

#blueButton{
    color: white;
    background-color: blue;
    padding:20px;
    border-radius:50px;
    border:none;
    position: relative;
    margin: 5px
}

#purpleButton{
    color: white;
    background-color: purple;
    padding:20px;
    border-radius:50px;
    border:none;
    position: relative;
    margin: 5px
}
#pinkButton{
    color: black;
    background-color: pink;
    padding:20px;
    border-radius:50px;
    border:none;
    position: relative;
    margin: 5px

}

#blackButton{
    color:white;
    background-color: black;
    padding:20px;
    border-radius:50px;
    border:none;
    position: relative;
    margin: 5px
}

#whiteButton{
    color: black;
    background-color: white;
    padding:20px;
    border-radius:50px;
    border:none;
    position: relative;
    margin: 5px

}
